@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;
}

.diamond{
    width: 200px;
    height:200px;
    position: relative;
    transform: rotate(45deg);    
}


span:nth-child(1){
    height:0;
    width: 0;
    top: 0;
    bottom: 0;
    position:absolute;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid gold;
    border-bottom: 50px solid goldenrod;
}

span:nth-child(2){
    transform: translateX(100px);
    height:0px;
    width: 0px;
    top: 0;
    bottom: 0;
    position:absolute;
    border-top: 50px solid goldenrod;
    border-left: 50px solid gold;
    border-right: 50px solid gold;
    border-bottom: 50px solid yellow;
}

span:nth-child(3){
    transform: translateY(100px);
    height:0px;
    width: 0px;
    top: 0;
    bottom: 0;
    position:absolute;
    border-top: 50px solid gold;
    border-left: 50px solid goldenrod;
    border-right: 50px solid goldenrod;
    border-bottom: 50px solid yellow;
}

span:nth-child(4){
    transform: translateX(100px) translateY(100px);
    height:0px;
    width: 0px;
    top: 0;
    bottom: 0;
    position:absolute;
    border-top: 50px solid goldenrod;
    border-left: 50px solid gold;
    border-right: 50px solid gold;
    border-bottom: 50px solid yellow;
}