@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;
}

.watermelon{
    width: 320px;
    height:160px;
    background-color: red;
    border-left: 20px solid green;
    border-bottom: 20px solid green;
    border-right: 20px solid green;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    animation: animate 3s linear infinite;
}

span{
    height: 8px;
    width: 8px;
    background-color: darkslategray;
    border-radius: 50%;
    display:inline-block;
    margin: 20px;
    animation: animate 3s ease-in infinite;
    
}

span:nth-child(6){
    opacity: 0;
}

span:nth-child(12){
    opacity: 0;
}

span:nth-child(11){
    opacity: 0;
}

span:nth-child(15){
    opacity: 0;
}

span:nth-child(16){
    opacity: 0;
}



@keyframes animate{
    
    33%{ transform: rotate(30deg);}
    66%{ transform : rotate(-30deg);}
    
}