@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;
    background-color: white;
}

.panda{
    width: 300px;
    height: 300px;
    background-color: white;
    border: solid 12px black;
    border-radius: 50%;
    position: relative;
}

.eye-left{
    position: absolute;
    width: 103px;
    height: 57px;
    background-color: black;
    left: 15px;
    top: 39%;
    border-radius: 0 0 115px 115px;
    transform: rotate(30deg);
    overflow: hidden;
    transition: transform 0.3s linear;
}

.left-ball{
    position: absolute;
    height: 39px;
    width: 40px;
    background-color: black;
    border: 11px solid white;
    top: -35%;
    left: 40%;
    border-radius: 50%;
    transition: transform .3s ease-in;
}






.eye-right{
    position: absolute;
    width: 103px;
    height: 57px;
    background-color: black;
    right: 15px;
    top: 39%;
    border-radius: 0 0 115px 115px;
    transform: rotate(-30deg);
    overflow: hidden;
    transition: transform 0.3s linear;
}

.right-ball{
    position: absolute;
    height: 39px;
    width: 40px;
    background-color: black;
    border: 11px solid white;
    top: -35%;
    right: 40%;
    border-radius: 50%;
    transition: transform .3s ease-in;
}

.nose{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    top:60%;
    left:50%;
    transform: translateX(-50%);
}

.mouth{
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    top:75%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .3s ease-in;
}

.ear-left{
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: black;
    border-radius: 50%;
    top:-30px;
    left: -35px;
    z-index: -1;
}

.ear-right{
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: black;
    border-radius: 50%;
    top:-30px;
    right: -35px;
    z-index: -1;
}


/* .left-ball:hover, .right-ball:hover, .mouth:hover{
    transform: scale(0.85);
} */

.panda:hover .left-ball{
    transform: scale(0.85);
}

.panda:hover .mouth{
    transform: translateY(20%) translateX(-40%) rotate(-10deg);
}

.panda:hover .right-ball{
    transform: scale(0.85);
}

.panda:hover .eye-left{
    transform: rotate(35deg);
    
}

.panda:hover .eye-right{
    transform: rotate(-35deg);
    
}